{% extends 'base.html.twig' %}

{% block body %}
    <section>
      <br><br><br><br><br><br><br><br>
      <div class="container">
        <h2 style="text-align:center" class="display-1">Bonjour, faire vos gestion <br> en une simple click</h2>

        
    </section>
{% endblock %}